* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.header {
  height: 60px;
  background-color: #383737;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navList {
  display: flex;
  align-items: center;
}
.navListItem:not(:last-child) {
  margin-right: 20px;
}

.navListItem {
  text-transform: uppercase;
  color: #6495ed;
  cursor: pointer;
}

.navListItem:hover {
  color: #3b5381;
}
.navListItemActive {
  color: #3b5381;
}
